
        {{#each inventory}}
            <div class="toyDiv">
                <ul>
                    <li>{{title}}</li>
                    <li>{{product_condition}}</li>
                    <li>{{availability}}</li>
                    <li>${{price}}</li>
                    <li>{{url}}</li>
                    <li>{{description}}</li>
                </ul>
                {{!-- <button class="btn btn-info view" id="btn-{{id}}-{{UserID}}">View</button> --}}
            </div>
        {{/each}}
    <button id ="click">Click me</button>;

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="assets/js/list.js"></script>