
        {{#each inventory}}
            <div class="toyDiv">
                <ul>
                    <li>{{title}}</li>
                    <li>{{product_condition}}</li>
                    <li>{{availability}}</li>
                    <li>${{price}}</li>
                    <li>{{url}}</li>
                    <li>{{description}}</li>
                </ul>
                {{!-- <button class="btn btn-info view" id="btn-{{id}}-{{UserID}}">View</button> --}}
            </div>
        {{/each}}
